    *, *::after, *::before {
        box-sizing: border-box;
    }
body {
    margin: 0;
    background-color: #9ca1ab;
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 90%;
    margin: 0 auto;
    height: fit-content;
}
#mobile {
    width: 400px;
    height: 700px;
    margin: 50px auto;
    background-color: #e0e1e5;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 7px gray;
    .inputform {
        padding: 10px 0;
        position: absolute;
        left: 0;
        bottom: 15px;
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        #inp {
            width: 78%;
            input {
                border: 0;
                height: 64px;
                padding: 0 10px;
                margin-left: 30px;
                border-radius: 10px;
                width: calc(100% - 30px);
            }
        }
        #btn {
            width: 22%;
            img {
                width: 64px;
                height: auto;
                cursor: pointer;
            }
        }
    }
    #tasks {
        .writedtasks {
            display: flex;
            flex-wrap: wrap;
            margin: 20px 0 0 0;
            border-bottom: 1px solid gray;
            padding-bottom: 10px;
            align-items: center;
            justify-content: space-between;
            p {
                display: inline;
                margin: 0;
                max-width: calc(100% - 30px);
            }
            img {
                width: 30px;
                height: auto;
                display: inline;
                cursor: pointer;

            }
            &.deleted {
                text-decoration: line-through;
                img {
                    width: 0;
                    overflow: hidden;
                }
            }
        }
    }
}